.banner {
	
	border-radius: 5px;
	background-color: #f0f0f0;
	padding:6px;
	
}

.banner div {
	color: #ff0000;
}

.demopanel {
	padding: 10px;
	width: 400px;
	border-radius: 7px;
	background-color: #e0e0ff;
}