<div class="demopanel panel">
	<h3>Demo <small>Add new task</small></h4>
	<div class="form-group">
		
		<label>Task Type:</label>
		<select class="form-control">
			<option>Addition Task</option>
			<option>Subtraction Task</option>
		</select>
		<button class="btn" ng-click="onAddTaskClick()">Add</button>
	</div>
</div>